.git
.gitignore
.idea
.DS_Store

.env
.env.*
!.env.example

**/__pycache__
**/*.pyc
**/.pytest_cache
**/.ruff_cache
**/.mypy_cache
**/.venv
**/venv

web/node_modules
web/dist

api/data
data
postgres_data
redis_data
rabbitmq_data
minio_data
